#editor {
  width: 100%;
  height: 360px;
}

#container{
  position: relative;

}

#video-container{
  position: relative;

}

#draw-canvas {
  z-index: 2;
  position: absolute;
}

#video {
  position: absolute;
  z-index: 1;
}
