#editor {
  width: 400px;
  height: 380px;
}

#container{
  position: relative;
  padding-top: 20px;
}

#video-container{
  position: relative;
  margin-top: 20px;
}

#draw-canvas {
  z-index: 2;
  position: absolute;
}

#video {
  position: absolute;
  z-index: 1;
}
